header{
    width: 100%;
    display: flex;
    background-color: var(--bg2-color);
    padding: var(--fs15) var(--fs25);
    .hamburger{
        height: var(--fs45);
        width: var(--fs45);
        .r-btn{
            height: 100%;
            width: 100%;
        }
    }
}