.overviews {
  background-color: var(--accent-bg-color);
  padding: 2%;
  border-radius: 5px;
  height: 100%;
  //   overflow-y: auto;
  .gradeOverview {
    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        font-size: var(--fs25);
        font-weight: 500;
        color: var(--color-gray);
      }
      .filter {
        position: relative;
        button {
          width: 8em;
          display: flex;
          align-items: center;
          border: 1px solid var(--black-color);
          border-radius: 5px;
          font-size: var(--fs20);
          background-color: var(--accent-bg-color);
          color: var(--black-color);
          span {
            display: block;
            padding: 0.5em;
            transition: 0.4s;
            transform-origin: center;
            &:last-child {
              position: absolute;
              right: 0;
            }
            img {
              display: block;
              width: 1em;
              filter: brightness(100%) invert(1);
              object-fit: contain;
            }
            &:nth-child(2) {
              border-left: 1px solid var(--black-color);
            }
            &:nth-child(3) {
              padding-left: 0;
            }
            &.active {
              transform: rotateX(180deg);
            }
          }
        }
        ul {
          position: absolute;
          background-color: var(--white-color);
          width: max-content;
          width: 100%;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.199);
          right: 0;
          top: 110%;
          li {
            padding: 0.3em 0.5em;
            color: var(--black-color);
            font-size: var(--fs20);
            cursor: pointer;
            &:hover {
              background-color: var(--accent-bg-color);
            }
          }
        }
      }
    }
    .body {
      display: flex;
      align-items: center;
      margin: 2% 0;
      // flex-wrap: wrap;
      gap: var(--fs20);
    }
  }
  .chartOverview {
    .head {
      h2 {
        font-size: var(--fs25);
        font-weight: 500;
        color: var(--color-gray);
        margin-bottom: 2em;
      }
    }
    div {
      max-height: 300px;
      max-width: 500px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .gradeOverview {
    .body {
      display: flex;
      align-items: center;
      margin: 2% 0;
      flex-wrap: wrap;
      gap: var(--fs10);
    }
  }
}
