.modal {
  width: 20em;
  background-color: var(--white-color);
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1003;
  transform: translate(-50%, -50%);
  padding: 1em;
  border-radius: 5px;
  text-align: center;
  .actions {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: 1em;
    button {
      background-color: var(--accent-color);
      width: 6em;
      padding: 0.5em;
      border-radius: 5px;
      color: var(--white-color);
      border: 1px solid transparent;
      &:first-child {
        background-color: transparent;
        border-color: var(--accent-color);
        color: var(--accent-color);
      }
    }
  }
}
.overlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.308);
  top: 0;
  left: 0;
  z-index: 1002;
}
