.overview {
  width: calc(calc(100% / 5) - var(--fs20));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1% 2%;
  /* border: 2px solid red; */
  border-radius: 10px;
  background-color: #00000019;
  /* margin-left: var(--fs20); */
}
.overview:first-child {
  margin-left: 0;
}
.overview .image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overview .image img {
  display: block;
  width: 70%;
  height: 100%;
  object-fit: cover;
}
.overview .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* margin-left: 1em; */
}
.overview .content h3 {
  font-size: var(--fs60);
  color: var(--black-color);
}
.overview .content p {
  font-size: var(--fs20);
  color: var(--color-gray);
  font-weight: 500;
  white-space: nowrap;
}

.color-ball {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  background-color: #0000;
}

@media only screen and (max-width: 1200px) {
  .overview {
    width: calc(calc(100% / 3) - var(--fs20));
  }
}
@media only screen and (max-width: 768px) {
  .overview {
    width: calc(calc(100% / 2) - var(--fs20));
  }
}
